In [1]:
import pandas as pd

In [11]:
graph_1 = pd.read_csv('./config/log/Graph1_full.txt')

In [12]:
# take a look at the data
graph_1.head()

       time   Quad.GPS.X
0  0.105000     0.929729
1  0.205000    -0.850943
2  0.305000    -0.294885
3  0.404998     0.645242
4  0.504997    -0.905385

In [13]:
graph_1.describe()

            time   Quad.GPS.X
count  99.000000    99.000000
mean    5.004892    -0.023115
std     2.872242     0.717481
min     0.105000    -2.065375
25%     2.554997    -0.553974
50%     5.004820    -0.066778
75%     7.454643     0.534361
max     9.905373     1.511651

In [15]:
graph_2 = pd.read_csv('./config/log/Graph2_full.txt')

In [16]:
graph_2.head()

    time   Quad.IMU.AX
0  0.005      0.143543
1  0.010     -0.840799
2  0.015      0.020170
3  0.020     -0.815555
4  0.025      0.888912

In [18]:
graph_2.describe()

              time   Quad.IMU.AX
count  2000.000000   2000.000000
mean      5.002395     -0.001077
std       2.887438      0.512272
min       0.005000     -1.835556
25%       2.503751     -0.339668
50%       5.002320      0.032452
75%       7.500889      0.335499
max      10.000411      1.572213